@import "./variables";
@import "./mediaquery";
@import "./base";


@mixin nav{
    width: 100%;
    height: 90px;
    padding-inline: $inline;
    position: fixed;
    top: 0;
    z-index: 999;
    .nav-div{
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        border: 1px solid $footertextColor-p;
        border-top: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-inline: 20px;
        a{
            width: 140px;
            // height: 60%;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .nav-link{
            display: flex;
            justify-content: center;
            // background-color: aqua;
            gap: 60px;
            a{
                width: auto;
                text-decoration: none;
                color: $footertextColor;
                font-size: 16px;
                transition: 0.6s ease;
                &:hover{
                    color: $primary;
                }
            }

        }
        .signupBtn{
            width: auto;
            button{
                @include button-main;
                width: 140px;
            }
        }
    }
}
@mixin hero-section{
    padding-inline: $inline;
    // padding-block: $block;
    height: 100vh;
    .hero-div{
        width: 100%;
        height: 100%;
        display: flex;
        .hero-textarea{
            width: 50%;
            // padding-block: $block;
            padding-right: 30px;
            // background-color: aqua;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
            h1{
                font-size: 50px;
                width: 95%;
                text-transform: uppercase;
                font-weight: 900;
                line-height: 1.5;
                letter-spacing: 1px;
                color: $footertextColor;
                span{
                    // font-size: 65px;
                    font-weight: 900;
                    color: transparent;
                    font-family: Arial, sans-serif;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    -webkit-text-stroke: 2px $primary;
                    transition: 0.6s all ease-in ;
                }
            }
            p{
                font-size: $p-font;
                color: $footertextColor;
                line-height: 2;
                width: 90%;
            }
            a{
                margin-top: 10px;
                button{
                    @include button-main;
                }
            }
        }
        .heroCarouselContainer{
            width: 50%;
            position: relative;
            overflow: hidden;
            .heroCarousel{
                width: 100%;
                height: 100%;
                display: flex;
                transition: transform 0.5s ease;
                .hero-imgwrap{
                    min-width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .hero-overlay{
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0,0.5);
            }
        }
    }
}
@mixin infinite-scroll{
    background-color: white;
    height: 60px;
    // width: 100%;
    margin-top: $block;
    overflow: hidden;
    .infinite-div{
        width: 100%;
        display: inline-flex;
        // justify-content: space-between;
//     animation: scroll 5s linear infinite;
//     /* Keyframes for scrolling animation */
// @keyframes scroll {
//     0% {
//         transform: translateX(-100%);
//     }
//     100% {
//         transform: translateX(100%);
//     }
// }
    }
}
@mixin about{
    padding-inline: $inline;
    padding-top: $block;
    .about-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        .about-left{
            width: 50%;
            height: 100%;
            background-color: aqua;
            .about-imgwrap{
                width: 100%;
                height: 500px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .about-textarea{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-left: 70px;
            h3{
                font-size: 20px;
                color: $primary;
            }
            h1{
                font-size: 40px;
                color: $footertextColor;
                text-transform: uppercase;
                span{
                    // font-size: 4rem;
                    font-weight: 900;
                    color: transparent;
                    font-family: Arial, sans-serif;
                    letter-spacing: 2px;
                    text-transform: uppercase;
                    -webkit-text-stroke: 2px $primary;
                    transition: 0.6s all ease-in ;
                    &:hover{
                        color: $primary;
                        -webkit-text-stroke: transparent;
                    }
                }
            }
            p{
                font-size: $p-font;
                color: $footertextColor;
                line-height: 1.5;
            }
            .faq{
                width: 100%;
                margin-top: 10px;
                .faq-section{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    // background-color: aqua;
                    .faq-item{
                        .faq-question{
                            width: 100%;
                            height: 55px;
                            outline: none;
                            border: none;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-inline: 20px;
                            cursor: pointer;
                            font-size: $p-font;
                            font-weight: 600;
                            color: #da928a;
                            background-color: $black-sec2;
                            transition: background 0.3s ease;
                            span{
                                color: $footertextColor
                            }
                            .arrow-icon{
                                font-size: 12px;
                                transition: transform 0.3s ease;
                            }
                            &:hover{
                                background-color: $black-sec1;
                                color: $footertextColor;
                            }
                        }
                        .faq-answer{
                            display: none;
                            height: 70px;
                            transition: all 1s ease-in-out;
                            padding-inline: 20px;
                            padding-top: 5px;
                            background-color: $black-sec2;
                            p{
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin classes-section{
    padding-inline: $inline;
    padding-block: $block;
    .classes-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .classes-textarea{
            @include head-text;
        }
        .classes-main{
            display: flex;
            justify-content: space-between;
            height: 500px;
            a{
                text-decoration: none;
                width: 33%;
                // background-color: aqua;
                .classes-card{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    .classes-imgwrap{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform 0.5s ease;
                        }
                    }
                    .classes-details{
                        display: flex;
                        flex-direction: column;
                        height: 20%;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        // background: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
                        backdrop-filter: blur(10px); /* Apply the blur effect */
                        // background-color: brown; 
                        .classes-name{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: first baseline;
                            width: 100%;
                            height: 100%;
                            gap: 8px;
                            padding-inline: 20px;
                            position: relative;
                            overflow: hidden;
                            h3{
                                font-size: 20px;
                                color: $footertextColor;
                                font-weight: 900;
                                text-transform: uppercase;
                            }
                            p{
                                font-size: 14px;
                                font-weight: 600;
                                color: $footertextColor;
                                text-transform: uppercase;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: -100%; /* Start off-screen to the left */
                                width: 100%;
                                height: 100%;
                                background-color: rgba(243, 78, 58, 0.5);;
                                z-index: 0;
                                transition: left 0.4s ease-in; /* Faster transition for hover-in */
                            }
                        }
                    }
                }
                &:hover{
                    .classes-card{
                        .classes-imgwrap{
                            img{
                                transform: scale(1.2);
                            }
                        }
                        .classes-details{
                            .classes-name{
                                &::before{
                                    left: 0; /* Move fully across the button on hover */
                                transition: left 0.8s ease-out; /* Slower transition for hover-out */
                                }
                                > * {
                                    position: relative;
                                    z-index: 1; /* Ensure text stays above ::before */
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin achieve-section{
    height: 200px;
    background-color: white;
    padding-inline: $inline;
    .achieve-div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .achievement{
            display: flex;
            align-items: center;
            gap: 10px;
            width: 250px;
            height: 70px;
            h1{
                font-size: 50px;
                font-weight: 900;
                color: $black-main;
            }
            .achieve-right{
                display: flex;
                align-items: center;
                padding: 10px;
                gap: 10px;
                height: 100%;
                // background-color: aqua;
                .achieve-line{
                    width: 4px;
                    height: 60%;
                    background-color: $primary;
                }
                h2{
                    font-weight: 900;
                    font-size: 14px;
                    color: $black-main;
                    text-transform: uppercase;
                }
            }
        }
    }
}
@mixin trainers-section{
    padding-inline: $inline;
    padding-block: $block;
    .trainers-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .trainers-textarea{
            @include head-text;
        }
        .trainers-main{
            display: flex;
            justify-content: space-between;
            height: 500px;
            a{
                text-decoration: none;
                width: 33%;
                // background-color: aqua;
                .trainers-card{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    .trainers-imgwrap{
                        width: 100%;
                        height: 80%;
                        overflow: hidden;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transition: transform 0.5s ease;
                        }
                        .trainers-overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba(34, 34, 34, 0.6);
                        }
                    }
                    .trainers-details{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        height: 20%;
                        padding-inline: 20px;
                        // background-color: brown; 
                        .trainers-name{
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            h3{
                                font-size: 20px;
                                color: $footertextColor;
                                font-weight: 900;
                                text-transform: uppercase;
                            }
                            p{
                                font-size: $p-font;
                                color: $footertextColor;
                            }
                        }
                        .trainers-arrow{
                            width: 55px;
                            height: 50px;
                            border-radius: 3px;
                            display: grid;
                            place-items: center;
                            background-color: $primary;
                            color: $footertextColor;
                            i{
                                transition: transform 0.5s ease;
                            }
                        }
                    }
                }
                &:hover{
                    .trainers-card{
                        .trainers-imgwrap{
                            img{
                                transform: scale(1.2);
                            }
                        }
                        .trainers-details{
                            .trainers-name{
                                h3{
                                    color: $primary;
                                }
                            }
                            .trainers-arrow{
                                background-color: $primaryHover;
                                i{
                                    transform: scale(1.5);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin details-section{
    // height: 60vh;
    padding-inline: $inline;
    padding-top: $block;
    // margin-top: 70px;
    .details-mainDiv{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        .details-textarea{
            @include head-text;
        }
        .details-div{
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: row-reverse;
            .details-imgwrapRight{
                width: 50%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .details-flex{
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .details-row{
                    width: 100%;
                    height: 50%;
                    display: flex;
                    .details-card{
                        width: 50%;
                        height: 100%;
                        position: relative;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        .details-overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding: 25px;
                            gap: 15px;
                            cursor: pointer;
                            h3{
                                font-size: 20px;
                                font-weight: 900;
                                color: $footertextColor;
                            }
                            p{
                                font-size: 13px;
                                color: #b4b6b6;
                                line-height: 1.5;
                            }
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            left: -200%; /* Start off-screen to the left */
                            width: 100%;
                            height: 100%;
                            background-color: $primaryHover;
                            z-index: 0;
                            transition: left 0.4s ease-in; /* Faster transition for hover-in */
                        }
                    
                        &:hover::before {
                            left: 0; /* Move fully across the button on hover */
                            transition: left 0.8s ease-out; /* Slower transition for hover-out */
                        }
                        > * {
                            position: relative;
                            z-index: 1; /* Ensure text stays above ::before */
                        }
                    }
                }
            }
        }
    }
}
@mixin testimonial-section{
    position: relative;
    width: 100%;
    height: 70vh;
    margin: auto;
    overflow: hidden;
    text-align: center;
    font-family: Arial, sans-serif;
    background: url('../img/testimonialbg.jpg') no-repeat center center;
    background-size: cover;
    padding: 60px 20px;
    .testimonial{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // opacity: 1;
        .quote {
            font-size: $h1-font;
            font-weight: 900;
            font-style: italic;
            color: #fff;
            width: 60%;
        }
        
        .author {
            margin-top: 10px;
            font-size: 1em;
            color: #ddd;
        }
    }
    .active{
        opacity: 1;
    }
}
@mixin plans-section{
    padding-inline: $inline;
    padding-block: $block;
    .plans-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 55px;
        .plans-textarea{
            @include head-text; 
        }
        .plans-main{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            .plans-grid{
                background-color: $black-sec1;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 35px;
                padding: 60px 20px;
                border-radius: 5px;
                .plans-head{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 10px;
                    >div{
                        width: 100px;
                        height: 60px;
                        border-radius: 5px;
                        background-color: $black-sec2;
                        color: $footertextColor;
                        display: grid;
                        place-items: center;
                        font-size: 20px;
                        font-weight: 900;
                    }
                    h2{
                        color: $primary;
                        font-weight: 900;
                        font-size: $h1-font;
                    }
                    p{
                        font-size: 14px;
                        color: $footertextColor;
                    }
                }
                .plans-line{
                    width: 100%;
                    height: 0.1px;
                    background-color: $primary;
                }
                .plans-list{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 20px;
                    p{
                        font-size: $p-font;
                        color: $footertextColor-p;
                    }
                }
                a{
                    margin-top: 10px;
                    button{
                        @include button-main;
                    }
                }
            }
        }
    }
}
@mixin posts {
    padding-inline: $inline;
    padding-block: $block;
    .posts-div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 55px;
        .posts-textarea{
            @include head-text;
        }
        .posts-content{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            .posts-rows{
                height: 150px;
                width: 100%;
                // background-color: aqua;
                border: 1px solid $footertextColor-p;
                padding: 20px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                .posts-imgwrap{
                    width: 200px;
                    height: 100%;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: transform 0.5s ease;
                    }
                }
                .posts-news{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    width: 60%;
                    a{
                        text-decoration: none;
                        color: $footertextColor;
                        font-size: 20px;
                        font-weight: 900;
                        &:hover{
                            color: $primary;
                        }
                    }
                    p{
                        color: $footertextColor-p;
                        font-size: $p-font;
                    }
                }
                a{
                    text-decoration: none;
                    button{
                        @include posts-button;
                    }
                }
                &:hover{
                    .posts-imgwrap{
                        img{
                            transform: scale(1.2); 
                        }
                    }
                }
            }
        }
    }
}
@mixin partners{
    // padding-inline: $inline;
    background-color: $primary;
    height: 150px;
    .partner-div{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        div{
            // width: 100px;
            
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                // background-color: aqua;
            }
        }
    }
}
@mixin footer{
        padding-inline: $inline;
        padding-block: $block-footer;
        background-color: $black-main;
        .footer-content{
            display: flex;
            justify-content: space-between;
            width: 100%;
            .footer-first{
                display: flex;
                flex-direction: column;
                align-items: first baseline;
                width: 25%;
                gap: 35px;
                padding-top: 10px;
                // background-color: aqua;
                p{
                    margin-top: 6px;
                    color: $footertextColor-p;
                    text-align: justify;
                    line-height: 1.5;
                    font-size: $p-font;
                }
                .footer-contact{
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    a{
                        color: $footertextColor-p;
                        font-size: $p-font;
                        display: flex;
                        gap: 10px;
                        text-decoration: none;
                        &:hover{
                            span{
                                color: $primary;
                            }
                        }
                    }
                }
            }
            .quick-links{
                width: 25%;
                padding-left: 80px;
                // background-color: aqua;
                display: flex;
                flex-direction: column;
                padding-top: 0;
                gap: 40px;
                h2{
                    color: $footertextColor;
                    font-size: $h1-font;
                    font-weight: 900;
                    padding-top: 0;
                }
                .links{
                    display: flex;
                    flex-direction: column;
                    align-items: first baseline;
                    gap: 18px;
                    a{
                        text-decoration: none;
                        width: auto;
                        color: $footertextColor-p;
                        font-size: $p-font;
                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
            .footer-socials{
                width: 25%;
                padding-left: 60px;
                display: flex;
                flex-direction: column;
                gap: 40px;
                h2{
                    color: $footertextColor;
                    font-size: $h1-font;
                    font-weight: 900;
                }
                .socials{
                    display: flex;
                    flex-direction: column;
                    align-items: first baseline;
                    gap: 18px;
                    a{
                        text-decoration: none;
                        width: auto;
                        color: $footertextColor-p;
                        font-size: $p-font;
                        &:hover{
                            color: $primary;
                        }
                    }
                }
            }
            form{
                width: 25%;
                display: flex;
                flex-direction: column;
                align-items: first baseline;
                gap: 12px;
                h2{
                    color: $footertextColor;
                    font-size: $h1-font;
                    font-weight: 900;
                    margin-bottom: 15px;
                }
                input{
                    height: 40px;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: $black-sec1;
                    padding: 10px;
                    color: $footertextColor;
                    font-size: $p-font;
                }
                textarea{
                    height: 80px;
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: $black-sec1;
                    padding: 10px;
                    color: $footertextColor;
                    font-size: $p-font;
                }
                a{
                    text-decoration: none;
                    margin-top: 10px;
                    button{
                        // @include footer-button;
                        @include button-main;
                    }
                }
            }
        }
}

@mixin footer-button{
    width: 180px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $primary;
    color: white;
    transition: 600ms ease;
    font-size: $p-font;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: $primaryHover;
    }
}
@mixin posts-button{
    position: relative; 
    padding: 10px 20px;
    height: 50px;
    width: 180px;
    font-size: 15px;
    color: white;
    background-color: $black-sec2;
    border: none;
    overflow: hidden;      
    cursor: pointer;
    transition: all 0.8s ease; 
    // transition: color 0.3s;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;  
        width: 6px;
        height: 100%;
        background-color: $primary;
        z-index: 0; 
        // transition: left 1s ease-in;
    }
    &:hover{
        color: #fff;  
        &::before{
            left: 0;
            width: 100%; 
            transition: all 0.8s ease;
            // transition: left 0.8s ease-out;
        }
    }
    > * {
        position: relative;
        z-index: 1;             
    }
}
@mixin button-main{
    position: relative; 
    padding: 10px 20px;
    height: 50px;
    width: 180px;
    font-size: 15px;
    color: white;
    background-color: $primary;
    border: none;
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s; /* Transition for text color */
    p{
        i{
            transition: transform 0.5s ease;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -100%; /* Start off-screen to the left */
        width: 100%;
        height: 100%;
        background-color: $primaryHover;
        z-index: 0;
        transition: left 0.4s ease-in; /* Faster transition for hover-in */
    }

    &:hover::before {
        left: 0; /* Move fully across the button on hover */
        transition: left 0.8s ease-out; /* Slower transition for hover-out */
    }

    &:hover {
        color: #fff; /* Optional color change on hover */
        p{
            span{
                i{
                    transform: scale(1.3);
                    // color: green;
                }
            }
        }
    }

    > * {
        position: relative;
        z-index: 1; /* Ensure text stays above ::before */
    }
}
@mixin head-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    h3{
        color: $primary;
        font-size: $p-font;
    }
    h1{
        color: $footertextColor;
        font-weight: 900;
        font-size: 35px;
    }
}
@mixin backtotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    width: 50px;
    height: 50px;
    background-color: $primary;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
    font-weight: 900;
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transitions */
    &:hover{
        background-color: $primaryHover; /* Darker shade on hover */
        transform: scale(1.2); /* Slight zoom on hover */
    }
}