$primary: #F34E3A;
$primaryHover: #c33d2f;
$black-main: #000000;
$black-sec1: #161616;
$black-sec2: #29282D;
$background-mine: #F3F9EB;
$inline: 120px;
$inline-ipad: 35px;
$inline-mobile: 20px;
$block: 90px;
$block-footer: 50px;
$block-ipad: 65px;
$block-mobile: 30px;
$l-font: 30px;
$h1-font: 25px;
$p-font: 16px;
$footertextColor: #e4efee;
$footertextColor-p: #61686D;

